[submodule "src/main/resources/cmake"]
	path = src/main/resources/cmake
	url = git@github.com:doevelopper/cmake.git
[submodule "src/main/resources/dotfiles"]
	path = src/main/resources/dotfiles
	url = git@github.com:doevelopper/dotfiles.git
